<!DOCTYPE html>
<html>
    <head>
        <html lang="en">
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <html lang="en">


            <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/rentmypet/css/grid.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/rentmypet/css/reset.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/rentmypet/css/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/rentmypet/css/slider.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/rentmypet/css/superfish.css') }}" />
            <script src="{{ asset('bundles/rentmypet/js/jquery.js') }}" ></script>
            <script src="{{ asset('bundles/rentmypet/js/jquery.easing.1.3.js') }}" ></script>
            <script src="{{ asset('bundles/rentmypet/js/jquery-migrate-1.1.1.js') }}" ></script>
            <script src="{{ asset('bundles/rentmypet/js/superfish.js') }}" ></script>
            <script src="{{ asset('bundles/rentmypet/js/jquery.equalheights.js') }}" ></script>
            <script src="{{ asset('bundles/rentmypet/js/tms-0.4.1.js') }}" ></script>
            <script src="{{ asset('bundles/rentmypet/js/jquery.carouFredSel-6.1.0-packed.js') }}" ></script>
            <script src="{{ asset('bundles/rentmypet/js/jquery.ui.totop.js') }}" ></script>
            <script>
                $(window).load(function(){
                    $('.slider')._TMS({
                        show:0,
                        pauseOnHover:false,
                        prevBu:'.prev',
                        nextBu:'.next',
                        playBu:false,
                        duration:800,
                        preset:'fade',
                        easing:'easeOutQuad',
                        pagination:true,//'.pagination',true,'<ul></ul>'
                        pagNums:false,
                        slideshow:8000,
                        numStatus:false,
                        banners:'fade',
                        waitBannerAnimation:false,
                        progressBar:false
                    })
                });

                $(window).load (
                        function(){$('.carousel1').carouFredSel({auto: false,prev: '.prev1',next: '.next1', width: 960, items: {
                            visible : {min: 4, max: 4},
                        },
                            responsive: false,
                            scroll: 1,
                            mousewheel: false,
                            swipe: {onMouse: false, onTouch: false}});
                        });

            </script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
